version: '3'

services:
  app:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: hr-cv-matcher
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
